
#particles-js {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: #000022;
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
}

table{
    color: azure;

}

input {
    position: absolute;
    max-width: 400px;
    margin: 0; 0; 0; 0; auto;

}
.row {
    height: 500px;
}


