<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ZINC Database</title>

    <link rel="stylesheet" media="screen" href="{{ url_for('static',filename='css/style.css') }}">
    <script type="text/javascript"></script>
  </head>
  <body bgcolor="black">
    <div id="particles-js" ></div>
    <script type="text/javascript" src="{{url_for('static', filename='particles.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>
    <script>
	particlesJS.load('particles-js', "{{url_for('static', filename='particles.json')}}", function() {
	console.log('callback - particles.js config loaded');});
	</script>
    <form method="POST">
      <input>
      <button>send my greetings!</button>
    </form>
    <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-md-8 col-sm-12 mx-auto">
                    <div class="h-100 justify-content-center">
                        {% block content %}  {% endblock %}
                    </div>
                </div>
            </div>
  </body>
</html>