{% extends 'base.html' %}

    {% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="zinc-container" style="overflow: auto; max-height: 80vh">
            <div class="table-responsive">
                <table style="color: aliceblue" class="table" id="zinc">
                    <thead>
                        <tr>
                            <th scope="col">Smiles</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in zinc %}
                        <tr id={{ zinc.smiles }}>
                            <th scope="row">{{ x.smiles }}</th>
                            <td> {{x.smiles}} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
</body>
</html>
    {% endblock %}