<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <script type="text/javascript" src="{{url_for('static', filename='js/JSmol.min.js')}}"></script>
    <script type="text/javascript">
    var Info = {
      width: "100%",
      height: 300,
      j2sPath: "{{url_for('static', filename='j2s')}}"
    }
    </script>
</head>
<body>


</body>
</html>
